#nav 
  position: relative
  top: 0
  left: 0
  z-index: 20
  height: 70px
  width: 100%
  background-color: var(--white)
  display: flex
  justify-content: space-between
  align-items: center
  font-weight: 800
  box-shadow: 0 0 6px var(--black_15)
  .nav-menu
    display: flex
    align-items: center
    height: inherit
  .nav-item
    height: inherit
    display: flex
    justify-content: center
    align-items: center
    padding: 0 50px
    color: var(--dark)
    text-decoration: none
    transition: var(--transition-200)
    &:hover, &.router-link-exact-active
      background-color: var(--light)
      cursor: pointer
  .nav-logo
    height: inherit
    padding: 0 15px
    display: flex
    justify-content: center
    align-items: center
    transition: var(--transition-200)
    img 
      height: 40px
      margin-right: 15px
    &:hover
      background-color: var(--light)

      
    