.section
  padding: 20px 30px
  &-title
    font-size: 30px
    color: var(--dark)

  &-paragraph
    font-size: 16px
    color: lighten(#0C2828, 20%)

  &.is-red
    background: var(--red)
  &.is-black
    background: var(--dark)
  &.is-green
    background: var(--green)
  &.is-blue
    background: var(--primary)
  &.is-white
    background: var(--white)